node_modules
npm-debug.log
/dist
/build
.env
.env.local
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.vscode
.idea
*.db
*.db-journal
/prisma/migrations
scripts/dump*.js
scripts/fix.js
scripts/test*.js
